<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="../source/CSS/recovery.css">
    <link rel="stylesheet" href="../source/CSS/root.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section class="container">
            <h1>Recuperar contraseña</h1>
            <form action="" method="post" class="form">
                <input type="text" placeholder="Nombre de usuario">
                <input type="text" placeholder="Dirección de mail">
                <button type="submit">Buscar cuenta</button>
            </form>
        </section>
        <section id="recoverZone" class="container">
            <h3>Contraseña: </h3> <div id="passwordReturn"></div>
        </section>
    </main>
</body>
</html>